.infoBarContainer {
  display: flex;
  background-color: steelblue;
  color: aliceblue;
  height: 60px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.leftSide {
  display: flex;
  padding: 4px;
  position: absolute;
  align-items: center;
}
.rightSide {
  margin-left: 90%;
  margin-top: 4%;
}
.roomHeader {
  margin-left: 10px;
}
