body {
  background-color: #97caef;
}

.outerContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.innerContainer {
  border: 1px solid grey;
  padding: 25px;
  background-color: steelblue;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.inputBox {
  width: 300px;
  height: 40px;
  background-color: azure;
  color: steelblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
  font-size: 13px;
  border-radius: 2px;
  border: none;
}

input:focus {
  outline: none;
}
::placeholder {
  padding: 2px;
  color: steelblue;
}

.button {
  width: 100%;
  height: 30px;
  background-color: #97caef;
  border: none;
  color: azure;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}

.mt-20 {
  margin-top: 20px;
}

.heading {
  text-align: center;
}
